{% extends "base.html" %}
{% load static %}
{% block content %} 



 <!-- style="height: 100vh;" -->
<div class="row" style="height: 70%;">

    <!-- LEFT COL -->
    <div class="col-2 card shadow-sm" style="background-color:#01A1A9;">
        <img class="" src="{% static 'hello/hello_imgs/leftside.png' %}" style="display: block;width:100%;max-height:100%;"/>
    </div>

    <!-- RIGHT BIG COL -->
    <div class="col-10 card shadow-sm" style="background-color:#E5E5E5;">
        
        <!-- TOP VALUES -->
        <div class="row h-5 mt-1 mb-3 ml-4 mr-4" style="background-color:#E5E5E5;">
            <div class="col-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="card shadow-sm h-100 pr-2 pl-2 pt-2 pb-2 font-weight-bold" style="background-color:#FFFFFF;">
                <div class="row">
                    <div class="col-12"><p class="font-weight-bold">Выход ПП, кг</p></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><p class="font-weight-bold"><snap class='value0'>{{values.0}}</snap></p></div>
                    <div class="col-6"><p class="font-weight-bold"><img class="" src="{% static 'hello/hello_imgs/green_arrow.png' %}"  width="40" height="40" style="display: block;max-width:100%;max-height:100%;"/></p></div>
                </div>
            </div></div>
            <div class="col-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="card shadow-sm h-100 pr-2 pl-2 pt-2 pb-2 font-weight-bold" style="background-color:#FFFFFF;">
                <div class="row">
                    <div class="col-12"><p class="font-weight-bold">Выход атактики, кг</p></div>
                </div>
                <p><snap class='value1'>{{values.1}}</snap></p>
            </div></div>
            <div class="col-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="card shadow-sm h-100 pr-2 pl-2 pt-2 pb-2 " style="background-color:#FFFFFF;">
                <div class="row">
                    <div class="col-6"><p class="font-weight-bold">P, Па</p></div>
                    <div class="col-6"><p class="text-right">R1</p></div>
                </div>
                <br><p class="font-weight-bold"><snap class='value2'>{{values.2}}</snap></p>

            </div></div>
            <div class="col-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="card shadow-sm h-100 pr-2 pl-2 pt-2 pb-2 " style="background-color:#FFFFFF;">
                <div class="row">
                    <div class="col-6"><p class="font-weight-bold">P, Па</p></div>
                    <div class="col-6"><p class="text-right">R2</p></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6"><p class="font-weight-bold"><snap class='value3'>{{values.3}}</snap></p></div>
                    <div class="col-6"><p class="font-weight-bold"><img class="" src="{% static 'hello/hello_imgs/red_arrow.png' %}"  width="40" height="40" style="display: block;max-width:100%;max-height:100%;"/></p></div>
                </div>
            </div></div>
            <div class="col-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="card shadow-sm h-100 pr-2 pl-2 pt-2 pb-2 " style="background-color:#FFFFFF;">
                <div class="row">
                    <div class="col-6"><p class="font-weight-bold">Т, К</p></div>
                    <div class="col-6"><p class="text-right">R1</p></div>
                </div>
                <br><p class="font-weight-bold"><snap class='value4'>{{values.4}}</snap></p>
            </div></div>
            <div class="col-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="card shadow-sm h-100 pr-2 pl-2 pt-2 pb-2 " style="background-color:#FFFFFF;">
                <div class="row">
                    <div class="col-6"><p class="font-weight-bold">Т, К</p></div>
                    <div class="col-6"><p class="text-right">R2</p></div>
                </div>
                <br><p class="font-weight-bold"><snap class='value5'>{{values.5}}</snap></p>
            </div></div>
        </div>

        <!-- ROW WTIH GRAPHS AND BUTTONS -->
        <div class="row h-100 ml-5 mr-5" style="background-color:#FFFFFF;">

            <!-- GRAPHS -->
            <div class="col-9 pl-2 pr-2 pt-2 pb-2" style="background-color:#FFFFFF;">
                <div class="h-75 pl-1 pr-1 pt-1 pb-1" style="background-color:#FFFFFF;">
                    <div class="h-100" style="background-color:#FFFFFF;">
                        <!-- <div id="curve_chart" style="width: 900px; height: 200px"></div> -->
                        <div id="curve_chart" style="width: 100%; height: 100%"></div>
                    </div>
                </div> 
                <div class="h-25 pl-1 pr-1 pt-1 pb-1" style="background-color:#FFFFFF;">
                    <div class="h-100" style="background-color:#FFFFFF;">
                        <div id="curve_chart2" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>

            <!-- BUTTONS -->
            <div class="col-3" style="background-color:#FFFFFF;">
                <div class="h-100 font-weight-bold" style="background-color:#FFFFFF;">
                    <form>
<br>
<div class="row"> <div class="col-6"></div> <div class="col-3">R1</div> <div class="col-3">R2</div> </div>
<div class="row"> <div class="col-6">Пропилен, л</div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="prop_r1"></div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="prop_r2"></div> </div>
<div class="row"> <div class="col-6">Водород, л</div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="vod_r1"></div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="vod_r2"></div> </div>
<div class="row"> <div class="col-6">Kat, л</div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="cat_r1"></div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="cat_r2"></div> </div>
<div class="row"> <div class="col-6">Донор, л</div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="don_r1"></div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="don_r2"></div> </div>
<div class="row"> <div class="col-6">Нефрас, л</div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="nef_r1"></div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="nef_r2"></div> </div>
<div class="row"> <div class="col-6">ТЭА, л</div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="tea_r1"></div> <div class="col-3"><input class="form-control mr-sm-2" type="text" name="tea_r2"></div> </div>
<br>
<div class="row"> <div class="col-6"></div> <div class="col-6">
    <span class="to_predict btn btn-outline-info" id="to_predict" product_code="123" >Прогноз</span>
    <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Прогноз</button> -->
</div></div>
<br>
<div class="row"> <div class="col-6"></div> <div class="col-6">
    <span class="to_make btn btn-outline-info" id="to_make" product_code="123" >Назначить</span>
    <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Назначить</button> -->
</div></div>
                    </form>
                </div>
            </div>
        </div>

        <!-- PLOT IMG -->
        <div class="row h-10 mt-3 mb-5 ml-5 mr-5" style="background-color:#FFFFFF;">
            <img class="" src="{% static 'hello/hello_imgs/bottom.png' %}" style="display: block;max-width:100%;max-height:100%;"/>
        </div>

    </div>

</div>

<!-- 
Пропилен, л
Водород, л
Катализатор, л
Донор, л
Нефрас, л
ТЭА, л
 -->


<!-- BASKET -->
<script type="text/javascript">
    // $(function(){
        $('.to_predict').on('click',function(){
            // var product_code = this.getAttribute("product_code");
            // var input_number = $('[product_value_code=' + product_code + ']')[0];
            // var curr_basket_link = $('[basket_link_code=' + product_code + ']')[0];
            // var product_value = $('[product_value_code=' + product_code + ']')[0].value;
            // var product_value = input_number.value;
            var text_for_prediction = $('textarea#mytextarea').val();

            var self = this

                $.ajax({
                    type: "post",
                    dataType: "json",
                    context:this,
                    timeout: 10000, // sends error after 3 sec
                    url: "{% url 'hello:update'%}",
                    data: {'csrfmiddlewaretoken' : '{{csrf_token}}', 'next' : '{{request.build_absolute_uri}}', 'text_for_prediction' :text_for_prediction },
      //               success: function(resp) { 
      //                   console.log('success' + resp)
      //                   var pred_cat = resp.prediction['category']
      //                   var pred_theme = resp.prediction['theme']
      //                   var pred_ex = resp.prediction['executor']
                        // var count = $("#results").children().length;
      //                   $("#results").prepend('<div><br><div>'+count+'.</div><div>Категория: '+pred_cat+'</div>' + '<div>Тема: '+pred_theme+'</div>' + '<div>Исполнитель: '+pred_ex+'</div></div>');
      //               },
                    success: function(resp) { 
                        console.log('success' + resp.prediction)
                        // $("#results").prepend(resp.prediction);
                    },
                    fail: function(){
                        console.log('fail')
                        // self.innerHTML = "В корзину";
                        // $(this).removeClass('loading_basket ');$(this).addClass('btn-outline-success');$(this).addClass('to_basket');
                    },
                    error:function(x,e) {
                        console.log('error')
                    }
                    
                });

        })
    // });
</script>








<!-- GRAPH ACTIVITY -->
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004',  1000,      400],
            ['2005',  1170,      460],
            ['2006',  660,       1120],
            ['2007',  1030,      540]
        ]);
        var options = {
            title: 'Активность катализатора',
            curveType: 'function',
            legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }
</script>

<!-- GRAPH ATACTIC -->
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Year', 'true', 'prediction'],
            ['2004',  1000,      400],
            ['2005',  1170,      460],
            ['2006',  660,       1120],
            ['2007',  1030,      540]
        ]);
        var options = {
            title: 'Атактика',
            curveType: 'function',
            legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));
        chart.draw(data, options);
    }
</script>

<!-- ACTIVITY UPDATE GRAPH EVERY SECOND -->
<script type="text/javascript">
  var refreshIntervalId = 0;
  var current_value = 0
  refreshIntervalId = window.setInterval(function(){
    console.log("--------------activity refresh")
    var text_for_prediction = 'text_for_prediction'//$('textarea#mytextarea').val();
    $.ajax({
        type: "post",
        dataType: "json",
        context:this,
        timeout: 10000, // sends error after 3 sec
        url: "{% url 'hello:update'%}",
        data: {'csrfmiddlewaretoken' : '{{csrf_token}}', 'next' : '{{request.build_absolute_uri}}', 'text_for_prediction' :text_for_prediction },
        success: function(resp) { 

            $('.value0')[0].innerHTML = '0';//resp.values[0];
            $('.value1')[0].innerHTML = '0';//resp.values[1];
            $('.value2')[0].innerHTML = resp.values[2];
            $('.value3')[0].innerHTML = resp.values[3];
            $('.value4')[0].innerHTML = resp.values[4];
            $('.value5')[0].innerHTML = resp.values[5];

            // var test_value = resp.prediction[0][0]
            // console.log('prediction' + resp.prediction)
            // console.log('success2_' + resp.product_values_count)
            // current_value = current_value + test_value + 100
            // console.log('success3_' + current_value)
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable(resp.prediction);
              var options = {
                title: 'Активность Kat',
                curveType: 'function',
                legend: { position: 'bottom' }
              };
              var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
              chart.draw(data, options);
            }





        },
        fail: function(){
            console.log('activity fail')
        },
        error:function(x,e) {
            console.log('activity error')
        }
        
    });
  }, 3000);
    /* later */
  // clearInterval(refreshIntervalId);
</script>






{% endblock %} 


{% comment %} 
<div class="col-2 pl-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="h-100" style="background-color:#FFFFFF;">col1</div></div>
            <div class="col-2 pl-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="h-100" style="background-color:#FFFFFF;">col1</div></div>
            <div class="col-2 pl-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="h-100" style="background-color:#FFFFFF;">col1</div></div>
            <div class="col-2 pl-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="h-100" style="background-color:#FFFFFF;">col1</div></div>

<div class="col-2 pl-2 pr-2 pt-2 pb-2" style="background-color:#E5E5E5;"><div class="h-100" style="background-color:#FFFFFF;">col1</div></div>

    <div class="col-2 pl-2 pr-2 pt-2 pb-2" style="background-color:#01A1A9;">
        <div class="h-100" style="background-color:#FFFFFF;">Цикл производства ПП</div>
    </div>
    <div class="col-10 pl-2 pr-2 pt-2 pb-2" style="background-color:#01A1A9;">
        <div class="h-100" style="background-color:#FFFFFF;">Цикл2</div>
    </div>


<img class="mt-2" src="{% static 'hello/hello_imgs/leftside.png' %}" width="40" height="40" style="display: block;max-width:100%;max-height:30px;">
    <div class="col-1 card shadow-sm" style="background-color:#01A1A9;">
        <div>
            col3
        </div>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 card shadow-sm">
        <div>
            col3
        </div>
    </div>
{% endcomment %} 






